

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
  border-style: solid;
  border-width: 1px;
  position: relative;
  width: 50%;
}

.box:after {
  content: "";
  display: block;
  padding-bottom: 100%
}

.inner-box {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
}

.hidden {
  /* background-color: rgb(128, 158, 192); */
  background-image: url('/images/hiddenBox.jpg');
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.revealed {
  background-color: rgb(190, 216, 245);
}


.dead {
  /* background-color: rgb(190, 30, 190); */
  background-image: url('/images/pufferFish.png');  
  background-size: contain;
}

.title-container {
  background-color: rgb(36, 35, 35);
  color: white;
  font-size: 2rem;
}

.marker-container {
  border-style: solid;
  border-width: 1px;
  width: 7.6vw;
  height: 7.6vw;
  background-image: url('/images/palmTree.png');
  background-size: contain;
  cursor: grab;
}

.marker {
  position: absolute;
  width: 5vw;
  height: 5vw;
  z-index: 100;
  transform: translateY(-50%) translateX(-50%);
  pointer-events: none;
}

.dropped-marker {
  background-image: url('/images/palmTree.png');
  background-size: contain;
  background-color: rgb(190, 216, 245);
}

.header-items {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.vertical-horizontal-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.mine-count {
  font-size: 2rem;
}

.pufferModal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.win {
  opacity: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5rem;
  text-align: center;

}